body {

	margin:0;
	padding:0;
	background-color:#F0E68C;
	font-family: 'Open Sans', sans-serif;
}
body *
{
	box-sizing:border-box;
}
.logo a {
    text-decoration: none;
	color:#000;
	font-size:30px;
}
@media (max-width:767px){	
	.container ul{
		float:left;
		display:none;
		width:100% !important;
	}
	.container ul li{
		float:left;
		width:100%;
	}
	.container{
		width:100% !important;
	}
	.container ul li a{
		width:100%;
		padding:10px 15px;
		float:left;
		text-align: left;
	}
	.logo{
		float:right !important;
		padding-right:95px;
		
	}
	.logo a {
	font-size:26px;
	}
	.banner-text1{
		width:100% !important;
	}
	.banner-text2{
		width:100% !important;
	}
	.block-body ul
	{
		
	display:block;
	}
	.block-body{
		font-size: 15px;
	}
	.abt-text{
	font-size: 14px !important;
	}
}
@media (min-width:768px) and (max-width:1995px)
{
	.banner-text1{
		height: 240px !important;
	}
.container{
		width:90% !important;
	}
	.skills ul{
		width: 50% !important;
	}
}
.flip {
        float: left;
    margin: 20px;
    background-color:transparent;
    border: 0px;
    font-size: 20px;
	
}
@media (min-width:768px)
{
	.flip{
		display:none;
	}
}



ul {
        list-style-type: none;
    float: right;
    margin: 0 auto;
	padding: 0px;
}
h1
{margin:0 auto;
}
.logo{
	float: left;
    margin: 12px 0;
	
}
ul li {
    float: left;
    display:block;
	
}
li a {
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
}

.header{
	width:100%;
	float:left;
	background-color:white;
}
.container{
	    
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
	
}
.container1{
	    
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
	float:left;
}
.section{
	width:100%;
	float:left;
}
.banner
{
	padding-top:25px;
	/*border: 1px black solid;*/
}
.banner-text1{
background-color: rosybrown;
width:50%;
font-size: 40px;
text-align: center;
padding: 40px;
padding-bottom: 35px;
float:left;
height: 200px;
/*max-width: 100%;*/
}
.banner-text2{
	background-color: black;
    width:50%;
	float:left;
	color:#F0E68C;
	text-align: center;
	font-size: 40px;
	padding: 24px;
	
}
.about-block{
	padding-top:25px;
	float:left;
	width:100%;
}
.about{
	background-color: white;
	float:left;
	width:100%;
	padding:30px;
}
.about i,b{
	font-size: 25px;
}
.abt-text{
	font-size: 20px;
}
.skills-block{
	float:left;
	width:100%;

	padding-top: 25px;
}
.block-body{
	background-color: white;
	float:left;
	width:100%;
	padding:30px;
}
.head{
	background-color:rosybrown;
	font-size:25px;
	float:left;
	width:100%;
	padding: 12px 33px;
}
.progress {
       height: 4px;
    display: block; 
    
    background-color: #1071bf;
    float: left; 
    margin: 0.5rem 0 1rem 0;
	
}
/*ul{
	float:left;
	
}
ul li{
	padding-bottom: 7px;
	display:block;
}*/
.blue{
    background-color: #1071bf;
	width: 60%;
}
.red{
    background-color: palevioletred;
	width: 55%;
}
.black{
    background-color: yellowgreen;
	width: 70%;
}

.education-block
{
	padding-top: 25px;
	float:left;
	width:100%;
}
.text-size
{
	font-size: 14px;
	
}
.lists{
	width:100%;
}
.block-body ul{
	max-width:100%;
	float:left;
	width:100%;
	display:block;
}
.block-body i,text{
	float:left;
	
}
.footer
{
	margin: 10px;
	float:left;
	width:100%;
}